---
// Astro "Front Matter". All code here is ONLY processed at BUILD time
import UpcLookupForm from "../components/UpcLookupForm.tsx";
---

<!-- This is all JSX! -->
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<style>
			:global(:root) {
				font-family: system-ui;
				padding: 2em;
			}
		</style>
		<link rel="stylesheet" href="/index.css" />
	</head>
	<body>
		<main>
			<h1>UPC Lookup Service</h1>
			<UpcLookupForm client:load />
		</main>
	</body>
</html>
